{% extends "backbone/base.html" %}
{% load static %}

{% block location %}
    <h6 class="location-info"><i class="bi bi-globe"></i> <a href="/homeworks">Домашни</a> > <a href="/homework/{{ homework.pk }}">{{ homework.title }}</a> > <a href="/homework/{{ homework.pk }}/solutions">Решения</a> > <a href="/homework/{{ homework.pk }}/solution/{{ solution.pk }}">Решението на {{ solution.author.full_name }}</a></h6>
{% endblock %}

{% block body %}

    {% if request.user.is_authenticated and request.user.pk == solution.author.pk and homework.can_upload %}
        <a href="/homework/{{ homework.pk }}/solution/add" class="text-reset text-decoration-none">
            <button type="button" class="btn btn-primary m-1">
                <i class="bi bi-file-arrow-up-fill"></i> Качи ново решение
            </button>
        </a>
        <hr class="mt-2 mb-1"/>
    {% endif %}
    
    {% autoescape off %}
        {{ content }}
    {% endautoescape %}
    
    <hr class="mt-2 mb-1"/>
    {% if not request.user.is_authenticated or request.user.is_student %}
        {% if homework.hidden or not homework.verified %}
            <a href="/homework/{{ homework.pk }}" class="text-reset text-decoration-none">
                <button type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-left-circle-fill"></i> Обратно към домашното
                </button>
            </a>
        {% else %}
            <a href="/homework/{{ homework.pk }}/solutions" class="text-reset text-decoration-none">
                <button type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-left-circle-fill"></i> Обратно към всички решения
                </button>
            </a>
        {% endif %}
    {% endif %}
    {% if request.user.is_authenticated and request.user.is_teacher %}
        {% if homework.hidden %}
            <a href="/homework/{{ homework.pk }}" class="text-reset text-decoration-none">
                <button type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-left-circle-fill"></i> Обратно към домашното
                </button>
            </a>
        {% else %}
            <a href="/homework/{{ homework.pk }}/solutions" class="text-reset text-decoration-none">
                <button type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-left-circle-fill"></i> Обратно към всички решения
                </button>
            </a>
        {% endif %}
    {% endif %}

{% endblock %}