{% extends "backbone/base.html" %}
{% load static %}
{% load extras %}

{% block location %}
    <h6 class="location-info"><i class="bi bi-globe"></i> <a href="/homeworks">Домашни</a> > <a href="/homework/{{ homework.pk }}">{{ homework.title }}</a> {% if request.user.is_teacher or homework.verified %} > <a href="/homework/{{ homework.pk }}/solutions">Решения</a> {% endif %} > <a href="/homework/{{ homework.pk }}/solution/{{ solution.pk }}">Решението на {{ solution.author.full_name }}</a></h6>
{% endblock %}

{% block body %}

    {% if request.user.is_authenticated and request.user.pk == solution.author.pk and homework.can_upload %}
        <a href="/homework/{{ homework.pk }}/solution/add" class="text-reset text-decoration-none">
            <button type="button" class="btn btn-primary m-1">
                <i class="bi bi-file-arrow-up-fill"></i> Качи ново решение
            </button>
        </a>
        <hr class="mt-2 mb-1"/>
    {% endif %}
    


    {% if request.user.is_teacher or homework.verified %}
        <div class="card mt-2">
            <div class="card-header">
                <h6 class="card-title">Резултати</h6>
            </div>
            <div class="card-body">
                {% if solution.result != '' %}
                    <div class="card-text"><i class="bi bi-emoji-smile-fill yellow"></i> {{ solution.points }} точки  от тестове</div>
                    <div class="card-text"><i class="bi bi-star-fill yellow"></i> {{ solution.homeworksolutionteacherpoints.points }} точки от учител</div>
                    <hr/>
                    <div class="card-text"><i class="bi bi-calculator-fill yellow"></i> {{ solution.points|add:solution.homeworksolutionteacherpoints.points }} точки общо</div>
                    <hr/>
                    <div class="card-text"><i class="bi bi-flag-fill green"></i> {{ solution.passed_tests }} успешни теста</div>
                    <div class="card-text"><i class="bi bi-flag-fill red"></i> {{ solution.failed_tests }} неуспешни теста</div>
                {% else %}
                    Все още не са пуснати тестове
                {% endif %}  
            </div>
            {% if request.user.is_teacher %}
                <form method="post" action="/homework/{{ homework.pk }}/solution/{{ solution.pk }}/set_teacher_points">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="d-inline-block">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text rounded-0" id="inputGroup-sizing-sm">Редакция на точките:</span>
                                </div>
                                <input type="number" class="form-control rounded-0" name="teacher_points" value="{{ solution.homeworksolutionteacherpoints.points }}">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-outline-secondary rounded-0" type="button">Запази</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            {% endif %}   
        </div>
    {% endif %}


    <!-- Comments that will be moved into place using JS -->
    <div class="inline-comments hidden">
        {% for comment in inline_comments %}
        <div class="inline-comment existing-inline-comment border border-primary rounded" data-line="{{ comment.line }}" id="inlinecomment{{ comment.id }}">
            <i class="bi bi-arrow-90deg-right inline-comment-arrow text-primary inline-comment-hide-trigger"></i>
            <i class="bi bi-arrow-up inline-comment-arrow inline-comment-arrow-secondary text-primary"></i>
            <img src="{% include 'common/profile_picture' with user=comment.author %}" class="inline-comment-picture inline-comment-hide-trigger"/>
            <div class="inline-comment-hide-content">
                <div class="m-2">
                    {% include 'common/user_dated_card.html' with user=comment.author date=comment.human_date %}
                </div>
                <div class="m-2">
                    <div class="showdown-trigger">{{ comment.content }}</div>
                </div>
                <div class="m-2">
                    {% if request.user.is_teacher or request.user.id == comment.author.id %}
                        <a href="/homework/{{ homework.pk }}/solution/{{ solution.pk }}/inlinecomment/{{ comment.pk }}/edit">Редактирай</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="add-inline-comment-wrapper">
            <div class="inline-comment add-inline-comment border border-primary rounded">
                <i class="bi bi-arrow-90deg-right inline-comment-arrow text-primary"></i>
                <div class="m-2">
                    <form method="post" action="/homework/{{ homework.pk }}/solution/{{ solution.pk }}/inlinecomment/add">
                        {% csrf_token %}
                        <input type="hidden" name="line" value="-1"/>
                        <textarea required="required" name="content" class="form-control showdown-input showdown-input-small" id="inline_content" placeholder="Коментар"></textarea>
                        <button type="submit" class="btn btn-primary mt-2 mx-1">Коментирай</button>
                        <button type="button" class="btn btn-secondary mt-2 mx-1 showdown-preview" data-showdown-source="inline_content"><i class="bi bi-eye-fill"></i> Преглед</button>
                        <button type="button" class="btn btn-danger mt-2 mx-1 inline-comment-cancel"><i class="bi bi-x-circle-fill"></i> Отмени</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-2">
        <div class="card-header">
            <h6 class="card-title">Код</h6>
        </div>
        {% if inline_comments %}
            <div class="card-body text-primary toggle-inline-comments">
                <div class="toggle-inline-comments-show hidden">
                    <i class="bi bi-eye-fill"></i> Покажи всички коментари
                </div>
                <div class="toggle-inline-comments-hide">
                    <i class="bi bi-eye-slash-fill"></i> Скрий всички коментари
                </div>
            </div>
        {% endif %}
        <div class="card-body code">
            <div class="form-check form-switch text-primary">
                <input class="form-check-input" type="checkbox" role="switch" data-trigger="word-wrap" id="word_wrap">
                <label class="form-check-label" for="word_wrap"><i class="bi bi-text-wrap"></i> Пренеси редовете</label>
            </div>
            <hr/>
            {% autoescape off %}
                {{ content }}
            {% endautoescape %}
        </div>
    </div>


    {% if request.user.is_teacher or homework.verified %}
        <div class="card mt-2">
            <div class="card-header">
                <h6 class="card-title">
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#test_log">
                        <i class="bi bi-chevron-bar-expand"></i> Лог от тестовете
                    </button>
                </h6>
            </div>
            <div class="collapse" id="test_log">
                <div class="card card-body">
                    {% if solution.result != '' %}
                        {{ solution.result|linebreaks }}
                    {% else %}
                        Все още няма пуснати тестове.
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

    
    <div class="card mt-2">
        <div class="card-header">
            <h6 class="card-title">Дискусия</h6>
        </div>
        <div class="card-body">

            <table class="table table-hover">
                <tbody>
                    {% if request.user.is_authenticated %}
                    <tr>
                        <td>
                            <form method="post" action="/homework/{{ homework.pk }}/solution/{{ solution.pk }}/comment/add">
                                {% csrf_token %}
                                <textarea required="required" name="content" class="form-control showdown-input showdown-input-small" id="content" placeholder="Отговор"></textarea>
                                <button type="submit" class="btn btn-primary mt-2 mx-1">Отговори</button>
                                <button class="btn btn-secondary mt-2 mx-1 showdown-preview" data-showdown-source="content"><i class="bi bi-eye-fill"></i> Преглед</button>
                            </form>
                        </td>
                    </tr>
                    {% endif %}


                    {% for comment in comments %}
                        <tr><td id="comment{{ comment.pk }}" class="ajax-toggle-container">
                            {% include 'common/user_dated_card.html' with user=comment.author date=comment.human_date add_star=comment.starred %}
                            <br/>
                            <div class="showdown-trigger">{{ comment.content }}</div>
                            {% if request.user.is_teacher %}
                                <span class="ajax-toggle">
                                    <a href="/homework/{{ homework.pk }}/solution/{{ solution.pk }}/comment/{{ comment.pk }}/star/add?page={{ request.GET.page }}" class="ajax-toggle-trigger {% if not comment.starred %}active{% endif %}">Добави звездата</a>
                                    <a href="/homework/{{ homework.pk }}/solution/{{ solution.pk }}/comment/{{ comment.pk }}/star/remove?page={{ request.GET.page }}" class="ajax-toggle-trigger {% if comment.starred %}active{% endif %}">Махни звездата</a>
                                </span>
                            {% endif %}
                            {% if request.user.is_teacher or request.user.id == comment.author.id %}
                                <a href="/homework/{{ homework.pk }}/solution/{{ solution.pk }}/comment/{{ comment.pk }}/edit?page={{ request.GET.page }}">Редактирай</a>
                            {% endif %}
                        </td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card mt-2">
        <div class="card-header">
            <h6 class="card-title">История</h6>
        </div>
        <div class="card-body">
            {% if history %}
                {% for history_solution in history %}
                    <div class="card mt-2">
                        <div class="card-header">
                            <h6 class="card-title">
                                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#history_{{ history_solution.pk }}">
                                    <i class="bi bi-chevron-bar-expand"></i> {{ history_solution.human_upload_date }}
                                </button>
                            </h6>
                        </div>
                        <div class="collapse history-wrapper" id="history_{{ history_solution.pk }}">
                            <div class="history-inline-comments-wrapper hidden">
                                {% with history_solution|inline_hw_comments_from_history as inline_history_comments %}
                                    {% for comment in inline_history_comments %}
                                    <div class="inline-history-comment border border-primary rounded m-1" data-line="{{ comment.line }}">
                                        <i class="bi bi-arrow-90deg-right inline-comment-arrow text-primary inline-comment-hide-trigger"></i>
                                        <i class="bi bi-arrow-up inline-comment-arrow inline-comment-arrow-secondary text-primary"></i>
                                        <img src="{% include 'common/profile_picture' with user=comment.author %}" class="inline-comment-picture inline-comment-hide-trigger"/>
                                        <div class="inline-comment-hide-content">
                                            <div class="m-2">
                                                {% include 'common/user_dated_card.html' with user=comment.author date=comment.human_date %}
                                            </div>
                                            <div class="m-2">
                                                <div class="showdown-trigger">{{ comment.content }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                {% endwith %}
                            </div>
                            <div class="card card-body code-diff-container">
                                <div class="form-check form-switch text-primary">
                                    <input class="form-check-input" type="checkbox" role="switch" data-trigger="word-wrap" id="word_wrap_{{ history_solution.pk }}">
                                    <label class="form-check-label" for="word_wrap_{{ history_solution.pk }}"><i class="bi bi-text-wrap"></i> Пренеси редовете</label>
                                </div>
                                <hr/>
                                {% autoescape off %}
                                    {{ history_solution.diff }}
                                {% endautoescape %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                Това решение има само една версия.
            {% endif %}
        </div>
    </div>

    <hr class="mt-2 mb-1"/>
    {% if not request.user.is_authenticated or request.user.is_student %}
        {% if homework.hidden or not homework.verified %}
            <a href="/homework/{{ homework.pk }}" class="text-reset text-decoration-none">
                <button type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-left-circle-fill"></i> Обратно към домашното
                </button>
            </a>
        {% else %}
            <a href="/homework/{{ homework.pk }}/solutions" class="text-reset text-decoration-none">
                <button type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-left-circle-fill"></i> Обратно към всички решения
                </button>
            </a>
        {% endif %}
    {% endif %}
    {% if request.user.is_authenticated and request.user.is_teacher %}
        {% if homework.hidden %}
            <a href="/homework/{{ homework.pk }}" class="text-reset text-decoration-none">
                <button type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-left-circle-fill"></i> Обратно към домашното
                </button>
            </a>
        {% else %}
            <a href="/homework/{{ homework.pk }}/solutions" class="text-reset text-decoration-none">
                <button type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-left-circle-fill"></i> Обратно към всички решения
                </button>
            </a>
        {% endif %}
    {% endif %}

{% endblock %}