{% extends "backbone/base.html" %}
{% load static %}


{% block location %}
    <h6 class="location-info"><i class="bi bi-globe"></i> <a href="/materials">Материали</a></h6>
{% endblock %}

{% block body %}
    

    {% if request.user.is_teacher %}
        <a href="/lectures" class="text-reset text-decoration-none">
            <button type="button" class="btn btn-primary">
                <i class="bi bi-pencil-square"></i> Редактирай материалите
            </button>
        </a>
        <hr class="mt-2 mb-1"/>
    {% endif %}

    {% if materials %}
        <div class="overflow-auto">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Лекция</th>
                        <th scope="col">Дата</th>
                    </tr>
                </thead>
                <tbody>
                    {% for material in materials %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>
                            <a href="https://{{ request.get_host }}/media/{{ material.content }}" target="_blank">
                                {{ material.title }}
                            </a>
                        </td>
                        <td>{{ material.date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        Все още няма никакви материали.
    {% endif %}
{% endblock %}