{% extends "backbone/base.html" %}
{% block body %}
<h6 class="location-info"><i class="bi bi-globe"></i> <a href="/teachers">Учители</a> > <a href="/teacher/{{ teacher.id }}">{{ teacher.full_name }}</a></h6>
    <h4>{{ teacher.full_name }}</h4>
    {% if teach.image %}
        <img src="/static/{{ teacher.image }}" class="teacher-profile-image border"/>
    {% else %}
        <img src="/static/img/blank-profile.png" class="teacher-profile-image border"/>
    {% endif %}
    <h6>
        <i class="bi bi-envelope-at-fill"></i>
        <a href="mailto:{{ teacher.email }}">{{ teacher.email }}</a>
    </h6>
    <h6>
        {% if teacher.github != "" %}
            <i class="bi bi-github"></i>
            <a href="https://github.com/" target="_blank">{{ teacher.github }}</a>
        {% else %}
            <i class="bi bi-github"></i> Няма
        {% endif %}
    </h6>
    <button type="button" class="btn btn-primary">
        <a href="/teachers" class="text-reset text-decoration-none"><i class="bi bi-arrow-left-circle-fill"></i> Обратно към всички учители</a>
    </button>
{% endblock %}