{% extends "backbone/base.html" %}
{% load static %}
{% block location %}
    <h6 class="location-info"><i class="bi bi-globe"></i> <a href="/lectures">Лекции</a></h6>
{% endblock %}
{% block body %}
    <div class="card mt-2 d-inline-block">
        <div class="card-header">
            <h5 class="card-title">Добави лекция</h5>
        </div>
        <div class="card-body">
            <form method="post" action="/add_lecture" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="first_name">Име</label>
                    <input type="text" required="required" class="form-control" id="title" name="title" placeholder="Име" value="{{ request.POST.title }}">
                    <div class="text-danger">{{ errors.title.as_text }}</div>
                </div>
                <div class="form-group">
                    <label for="image">Файл</label>
                    <input type="file" required="required" name="content" class="form-control" id="content" accept=".pdf"/>
                    <div class="text-danger">{{ errors.content.as_text }}</div>
                </div>
                <div class="form-group">
                    <label for="date">Дата</label>
                    <input type="date" required="required" class="form-control" id="date" name="date" value="{% if request.POST.date %}{{ request.POST.date }}{% else %}{% now 'Y-m-d' %}{% endif %}">
                    <div class="text-danger">{{ errors.date.as_text }}</div>
                </div>
                <button type="submit" class="btn btn-primary mt-2">Добави</button>
            </form>
        </div>
    </div>

    {% if info %}
        <div class="text-info"><i class="bi bi-check-circle-fill"></i> {{ info }}</div>
    {% endif %}
    
    {% if lectures %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Лекция</th>
                    <th scope="col">Файл</th>
                    <th scope="col">Дата</th>
                </tr>
            </thead>
            <tbody>
                {% for lecture in lectures %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>
                        <a href="/lecture/{{ lecture.id }}">
                            {{ lecture.title }}
                        </a>
                    </td>
                    <td>
                        <a href="media/{{ lecture.content }}" target="_blank">
                            {{ lecture.content }}
                        </a>
                    </td>
                    <td>{{ lecture.date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <br/>Все още няма никакви лекции.
    {% endif %}
{% endblock %}