.navbar-brand img {
    height: 2em;
}

.navbar-separator > a::before {
    content: '|';
    padding-right: 15px;
    color: $primary;
}

@include media-breakpoint-down(lg) {
    .navbar-separator > a::before {
        content: none;
    }
}

.navbar-brand-wrapper{
    position: relative;
    width: 2em !important;
    height: 2em !important;

    img {
        position: absolute;
        top: 0;
        left: 0;
    }

    .navbar-logo {
        width: 0.7em !important;
        height: 0.7em !important;
        top: -5px;
        left: -5px;
    }

    .navbar-profile-picture {
        -webkit-border-radius: 50px;
        -webkit-border-top-left-radius: 0;
        -moz-border-radius: 50px;
        -moz-border-radius-topleft: 0;
        border-radius: 50px;
        border-top-left-radius: 0;
        width: 2em !important;
        height: 2em !important;
    }
}