{% extends "backbone/base.html" %}
{% block location %}
    <h6 class="location-info"><i class="bi bi-globe"></i> <a href="/team">Учителски колектив</a></h6>
{% endblock %}
{% block body %}
    <div class="card mt-2 d-inline-block">
        <div class="card-header">
            <h5 class="card-title">Добави учител</h5>
        </div>
        <div class="card-body">
            <form method="post" action="/add_teacher">
                {% csrf_token %}
                <div class="form-group">
                    <label for="first_name">Име</label>
                    <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Име" value="{{ request.POST.first_name }}">
                    <div class="text-danger">{{ errors.first_name.as_text }}</div>
                </div>
                <div class="form-group">
                    <label for="last_name">Фамилия</label>
                    <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Фамилия" value="{{ request.POST.last_name }}">
                    <div class="text-danger">{{ errors.last_name.as_text }}</div>
                </div>
                <div class="form-group">
                    <label for="email">Електронна поща</label>
                    <input type="text" class="form-control" id="email" name="email" placeholder="Електронна поща" value="{{ request.POST.email }}">
                    <div class="text-danger">{{ errors.email.as_text }}</div>
                </div>
                <button type="submit" class="btn btn-primary mt-2">Добави</button>
            </form>
        </div>
    </div>
    
    {% if info %}
        <div class="text-info"><i class="bi bi-check-circle-fill"></i> {{ info }}</div>
    {% endif %}

    {% if team %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Име</th>
                    <th scope="col">Поща</th>
                    <th scope="col">Активен</th>
                </tr>
            </thead>
            <tbody>
                {% for teacher in team %}
                    <tr>
                        <th scope="row">
                            <a href="/team_member/{{ teacher.id }}">
                                {{ teacher.full_name }}
                            </a>
                        </th>
                        <td>{{ teacher.email }}</td>
                        <td>
                            {% if teacher.is_active %}
                                <i class="bi bi-check-circle-fill text-success"></i>
                            {% else %}
                                <i class="bi bi-x-circle-fill text-danger"></i>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        Все още няма учители.
    {% endif %}
{% endblock %}