{% extends "backbone/base.html" %}
{% block location %}
    <h6 class="location-info"><i class="bi bi-globe"></i> <a href="/new_password">Забравена парола</a></h6>
{% endblock %}
{% block body %}
    {% if link_sent %}
        Моля провери пощата си за инструкции.
    {% else %}
        <div class="card mt-2">
            <div class="card-header">
                <h7 class="card-title">Моля въведи пощата си и следвай инструкциите в мейла, който ще получиш.</h7>
            </div>
            <div class="card-body">
                <form method="post" class="d-inline-block">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="email">Електронна поща</label>
                        <input type="email" required="required" class="form-control" id="email" name="email" placeholder="Въведи поща" value="{{ request.POST.email }}">
                    </div>
                    <button type="submit" class="btn btn-primary mt-2 align-text-bottom">Изпрати имейл</button>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}