.teacher-card {
    max-width: 250px;
}

.teacher-card .card-title {
    height: 1.5em;
}

@include media-breakpoint-up(xs) {
    .teacher-card {
        width: 45%;
    }
}

@include media-breakpoint-up(sm) {
    .teacher-card {
        width: 30%;
    }
}

@include media-breakpoint-up(md) {
    .teacher-card {
        width: 20%;
    }
}

.teacher-profile-image {
    max-width: 250px;
}