{% extends "backbone/base.html" %}
{% load extras %}
{% block location %}
    <h6 class="location-info"><i class="bi bi-globe"></i> <a href="/activity">Активност</a></h6>
{% endblock %}
{% block body %}


    {% if actions %}
    <div class="overflow-auto">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">
                        <span data-toggle="tooltip" title="Коментари от студенти във форуми/домашни/предизвикатества, след които няма коментари на учители; Качени решения от студенти на домашни/предизвикателства, за които си абониран, или за които все още няма никой абониран, след които няма активност от учител.">
                            Важно
                        </span>
                    </th>
                    <th scope="col" colspan="2">Събитие</th>
                    <th scope="col">Дата</th>
                </tr>
            </thead>
            <tbody>
                {% for action in actions %}
                    <tr>
                        <td class="text-center">
                            {% if not action.forced_seen %}
                                {% if action.type == 'FC' %}
                                    {% if action.object.author.is_student and not action.object.is_answered_by_teacher %}
                                        <a href="/activity/{{ action.pk }}/force_seen"><i class="text-danger bi bi-exclamation-octagon-fill"></i></a>
                                    {% endif %}
                                {% endif %}
                                {% if action.type == 'HWC' %}
                                    {% if action.object.author.is_student and not action.object.is_answered_by_teacher %}
                                        <a href="/activity/{{ action.pk }}/force_seen"><i class="text-danger bi bi-exclamation-octagon-fill"></i></a>
                                    {% endif %}
                                {% endif %}
                                {% if action.type == 'HWS' %}
                                    {% if action.object.author.is_student %}
                                        {% if request.user|is_subscribed_to:action.object or not action.object.subscribers.all %}
                                            {% if not action.object.has_history and not action.object.is_followed_up_by_teacher %}
                                                <a href="/activity/{{ action.pk }}/force_seen"><i class="text-danger bi bi-exclamation-octagon-fill"></i></a>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                                {% if action.type == 'HWSU' %}
                                    {% if action.object.author.is_student %}
                                        {% if request.user|is_subscribed_to:action.object or not action.object.subscribers.all %}
                                            {% if not action.object|has_newer_version:action.date and not action.object.is_followed_up_by_teacher %}
                                                <a href="/activity/{{ action.pk }}/force_seen"><i class="text-danger bi bi-exclamation-octagon-fill"></i></a>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                                {% if action.type == 'HWSC' %}
                                    {% if action.object.author.is_student %}
                                        {% if request.user|is_subscribed_to:action.object.solution or not action.object.solution.subscribers.all %}
                                            {% if not action.object.is_followed_up_by_teacher %}
                                                <a href="/activity/{{ action.pk }}/force_seen"><i class="text-danger bi bi-exclamation-octagon-fill"></i></a>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                                {% if action.type == 'HWSIC' %}
                                    {% if action.object.author.is_student %}
                                        {% if request.user|is_subscribed_to:action.object.solution or not action.object.solution.subscribers.all %}
                                            {% if not action.object.is_followed_up_by_teacher %}
                                                <a href="/activity/{{ action.pk }}/force_seen"><i class="text-danger bi bi-exclamation-octagon-fill"></i></a>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                                {% if action.type == 'CC' %}
                                    {% if action.object.author.is_student and not action.object.is_answered_by_teacher %}
                                        <a href="/activity/{{ action.pk }}/force_seen"><i class="text-danger bi bi-exclamation-octagon-fill"></i></a>
                                    {% endif %}
                                {% endif %}
                                {% if action.type == 'CS' %}
                                    {% if action.object.author.is_student %}
                                        {% if not action.object.has_history and not action.object.is_followed_up_by_teacher %}
                                            <a href="/activity/{{ action.pk }}/force_seen"><i class="text-danger bi bi-exclamation-octagon-fill"></i></a>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                                {% if action.type == 'CSU' %}
                                    {% if action.object.author.is_student %}
                                        {% if request.user|is_subscribed_to:action.object or not action.object.subscribers.all %}
                                            {% if not action.object|has_newer_version:action.date and not action.object.is_followed_up_by_teacher %}
                                                <a href="/activity/{{ action.pk }}/force_seen"><i class="text-danger bi bi-exclamation-octagon-fill"></i></a>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                                {% if action.type == 'CSC' %}
                                    {% if action.object.author.is_student %}
                                        {% if request.user|is_subscribed_to:action.object.solution or not action.object.solution.subscribers.all %}
                                            {% if not action.object.is_followed_up_by_teacher %}
                                                <a href="/activity/{{ action.pk }}/force_seen"><i class="text-danger bi bi-exclamation-octagon-fill"></i></a>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                                {% if action.type == 'CSIC' %}
                                    {% if action.object.author.is_student %}
                                        {% if request.user|is_subscribed_to:action.object.solution or not action.object.solution.subscribers.all %}
                                            {% if not action.object.is_followed_up_by_teacher %}
                                                <a href="/activity/{{ action.pk }}/force_seen"><i class="text-danger bi bi-exclamation-octagon-fill"></i></a>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                                {% if action.type == 'FSC' %}
                                    <a href="/activity/{{ action.pk }}/force_seen"><i class="text-danger bi bi-exclamation-octagon-fill"></i></a>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if action.type == 'NA' %}
                                <i class="text-success bi bi-newspaper"></i>
                            {% endif %}
                            {% if action.type == 'F' %}
                                <i class="text-success bi bi-person-lines-fill"></i>
                            {% endif %}
                            {% if action.type == 'FC' %}
                                <i class="text-danger bi bi-chat"></i>
                            {% endif %}
                            {% if action.type == 'HW' %}
                                <i class="text-success bi bi-house-add-fill"></i>
                            {% endif %}
                            {% if action.type == 'HWC' %}
                                <i class="text-danger bi bi-chat-dots"></i>
                            {% endif %}
                            {% if action.type == 'HWS' %}
                                <i class="text-warning bi bi-github"></i>
                            {% endif %}
                            {% if action.type == 'HWSU' %}
                                <i class="text-warning bi bi-git"></i>
                            {% endif %}
                            {% if action.type == 'HWSC' %}
                                <i class="text-danger bi bi-chat-dots-fill"></i>
                            {% endif %}
                            {% if action.type == 'HWSIC' %}
                                <i class="text-danger bi bi-chat-dots-fill"></i>
                            {% endif %}
                            {% if action.type == 'C' %}
                                <i class="text-success bi bi-house-add"></i>
                            {% endif %}
                            {% if action.type == 'CC' %}
                                <i class="text-danger bi bi-chat-dots"></i>
                            {% endif %}
                            {% if action.type == 'CS' %}
                                <i class="text-warning bi bi-github"></i>
                            {% endif %}
                            {% if action.type == 'CSU' %}
                                <i class="text-warning bi bi-git"></i>
                            {% endif %}
                            {% if action.type == 'CSC' %}
                                <i class="text-danger bi bi-chat-dots-fill"></i>
                            {% endif %}
                            {% if action.type == 'CSIC' %}
                                <i class="text-danger bi bi-chat-dots-fill"></i>
                            {% endif %}
                            {% if action.type == 'FSC' %}
                                <i class="text-info bi bi-arrow-repeat"></i>
                            {% endif %}
                        </td>
                        <td>
                            <a 
                                {% if action.author.is_teacher %}
                                    href="teacher/{{ action.author.id }}" target="_blank"
                                {% else %}
                                    href="student/{{ action.author.id }}" target="_blank"
                                {% endif %}
                            >{{ action.author.full_name }}</a>

                            {% if action.type == 'NA' %}
                                създаде <a href="{{ action.link }}" target="_blank">новина</a>.
                            {% endif %}
                            {% if action.type == 'F' %}
                                създаде <a href="{{ action.link }}" target="_blank">форум</a>.
                            {% endif %}
                            {% if action.type == 'FC' %}
                                добави <a href="{{ action.link }}" target="_blank">коментар във форум</a>.
                            {% endif %}
                            {% if action.type == 'HW' %}
                                създаде <a href="{{ action.link }}" target="_blank">домашно</a>.
                            {% endif %}
                            {% if action.type == 'HWC' %}
                                добави <a href="{{ action.link }}" target="_blank">коментър към домашно</a>.
                            {% endif %}
                            {% if action.type == 'HWS' %}
                                качи <a href="{{ action.link }}" target="_blank">решение на домашно</a>.
                            {% endif %}
                            {% if action.type == 'HWSU' %}
                                качи нова версия на <a href="{{ action.link }}" target="_blank">решение на домашно</a>.
                            {% endif %}
                            {% if action.type == 'HWSC' %}
                                добави <a href="{{ action.link }}" target="_blank">коментар на решение на домашно</a>.
                            {% endif %}
                            {% if action.type == 'HWSIC' %}
                                добави <a href="{{ action.link }}" target="_blank">коментар в кода на решение на домашно</a>.
                            {% endif %}
                            {% if action.type == 'C' %}
                                създаде <a href="{{ action.link }}" target="_blank">предизвикателство</a>.
                            {% endif %}
                            {% if action.type == 'CC' %}
                                добави <a href="{{ action.link }}" target="_blank">коментър към предизвикателство</a>.
                            {% endif %}
                            {% if action.type == 'CS' %}
                                качи <a href="{{ action.link }}" target="_blank">решение на предизвикателство</a>.
                            {% endif %}
                            {% if action.type == 'CSU' %}
                                качи нова версия на <a href="{{ action.link }}" target="_blank">решение на предизвикателство</a>.
                            {% endif %}
                            {% if action.type == 'CSC' %}
                                добави <a href="{{ action.link }}" target="_blank">коментар на решение на предизвикателство</a>.
                            {% endif %}
                            {% if action.type == 'CSIC' %}
                                добави <a href="{% if action.object.solution %}{{ action.link }}{% else %}{{ action.link|overwrite_to_history }}{% endif %}" target="_blank">коментар в кода на решение на предизвикателство</a>.
                            {% endif %}
                            {% if action.type == 'FSC' %}
                                прие <a href="{{ action.link }}" target="_blank">размяна за защитата</a> с <a href="student/{{ action.object.pk }}" target="_blank">{{ action.object.full_name }}</a>.
                            {% endif %}
                        </td>
                        <td>{{ action.human_date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        Все още няма никакви събития
    {% endif %}

    {% if actions.paginator.num_pages > 1 %}
        <nav class="mt-2">
            <ul class="pagination justify-content-center">
                    {% if actions.paginator.num_pages > 5 and actions.number > 3 %}
                        <li class="page-item"><a class="page-link {% if actions.number == 1 %}active{% endif %}" href="?page=1">Първа</a></li>
                    {% endif %}
                    {% for page in actions.paginator.page_range %}
                        {% if actions.number|add:"-3" < page and page < actions.number|add:"+3" %}
                            <li class="page-item"><a class="page-link {% if page == actions.number %}active{% endif %}" href="?page={{ page }}">{{ page }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if actions.paginator.num_pages > 5 and actions.number < actions.paginator.num_pages|add:"-2" %}
                        <li class="page-item"><a class="page-link {% if actions.number == actions.paginator.num_pages %}active{% endif %}" href="?page={{ actions.paginator.num_pages }}">Последна</a></li>
                    {% endif %}
            </ul>
        </nav>
    {% endif %}
    
{% endblock %}