.navbar-brand img {
    height: 2em;
}

.nav-item {
    white-space: nowrap;
}

.navbar-separator > a::before {
    content: '|';
    padding-right: 15px;
    color: $primary;
}

@include media-breakpoint-down(lg) {
    .navbar-separator > a::before {
        content: none;
    }
}

.navbar-brand-wrapper{
    position: relative;
    width: 2em !important;
    height: 2em !important;

    img {
        position: absolute;
        top: 0;
        left: 0;
    }

    .navbar-logo {
        width: 0.7em !important;
        height: 0.7em !important;
        top: -5px;
        left: -5px;
    }

    .navbar-profile-picture {
        -webkit-border-radius: 50px;
        -webkit-border-top-left-radius: 0;
        -moz-border-radius: 50px;
        -moz-border-radius-topleft: 0;
        border-radius: 50px;
        border-top-left-radius: 0;
        width: 2em !important;
        height: 2em !important;
    }
}

.thumbnail-profile-picture {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: 1px solid $gray-500;
}

.showdown-input {
    min-height: 400px !important;
}

.showdown-input.showdown-input-small {
    min-height: 200px !important;
}


#showdown-modal .modal-dialog {
    width: 90% !important;
    max-width: 90% !important;
}

#showdown-modal .modal-content,
#showdown-modal .modal-body{
    width: 100% !important;
    max-width: 100% !important;
}

.star {
    position: absolute;
    bottom: -0.5em;
    right: -0.5em;
    font-size: 2em;
    color: #ffc107;
}

.hidden {
    display: none;
}

.ajax-toggle-trigger {
    display: none;

    &.active {
        display: inline;
    }
}

.dropdown-item:not(.active) .bi{
    color: $primary;
}

[data-toggle="tooltip"] {
    cursor: pointer;
}

.home-overview-card {
    height: 150px;
}

@include media-breakpoint-down(lg) {
    .home-overview-card {
        display: block !important;
        height: auto !important;
    }
}

.linenos {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}