.showdown-input {
    min-height: 400px !important;
}

.showdown-input.showdown-input-small {
    min-height: 200px !important;
}


#showdown-modal .modal-dialog {
    width: 90% !important;
    max-width: 90% !important;
}

#showdown-modal .modal-content,
#showdown-modal .modal-body{
    width: 100% !important;
    max-width: 100% !important;
}