{% extends "backbone/base.html" %}
{% block location %}
    <h6 class="location-info"><i class="bi bi-globe"></i> <a href="/forums">Форум</a> > <a href="/forum/{{ comment.forum.pk }}">{{ comment.forum.title }}</a> > <a href="/edit_forum_comment/{{ comment.pk }}">Редактирай коментар</a></h6>
{% endblock %}
{% block body %}

    {% if request.user.is_teacher %}
    <a href="/delete_forum_comment/{{ comment.pk }}" class="text-reset text-decoration-none confirm-delete-forum-comment">
        <button type="button" class="btn btn-danger">
            <i class="bi bi-x-circle-fill"></i> Изтрий
        </button>
    </a>
    <hr class="mt-2 mb-1"/>
    <!-- Modal -->
    <div class="modal fade" id="confirm_delete_forum_comment_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Потвърждение</h5>
            </div>
            <div class="modal-body">
                Сигурен ли си, че искаш да изтриеш този коментар?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-no" data-dismiss="modal">Не</button>
                <button type="button" class="btn btn-danger btn-yes" data-dismiss="modal">Да</button>
            </div>
        </div>
        </div>
    </div>
    {% endif %}

    <div class="card mt-2">
        <div class="card-header">
            <h5 class="card-title">Редактирай коментар</h5>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="page" value="{% if request.GET.page %}{{ request.GET.page }}{% else %}1{% endif %}">
                <textarea name="content" class="form-control showdown-input" id="content" placeholder="Съдържание">{% if request.POST.content %}{{ request.POST.content }}{% else %}{{ comment.content }}{% endif %}</textarea>
                <div class="text-danger">{{ errors.content.as_text }}</div>
                <button type="submit" name="edit" class="btn btn-primary mt-2">Запази</button>
                <button class="btn btn-secondary mt-2 showdown-preview" data-showdown-source="content"><i class="bi bi-eye-fill"></i> Преглед</button>
            </form>
        </div>
    </div>
{% endblock %}