{% extends "backbone/base.html" %}
{% load static %}


{% block location %}
    <h6 class="location-info"><i class="bi bi-globe"></i> <a href="/challenges">Предизвикателства</a> > <a href="/challenge/{{ challenge.pk }}">{{ challenge.title }}</a> > <a href="/challenge/{{ challenge.pk }}/edit">Редактирай</a></h6>
{% endblock %}

{% block body %}

    <div class="card mt-2">
        <div class="card-header">
            <h5 class="card-title">Редактирай предизвикателство</h5>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">Заглавие</label>
                    <input type="text" required="required" class="form-control" id="title" name="title" placeholder="Заглавие" value="{% if request.POST.title %}{{ request.POST.title }}{% else %}{{ challenge.title }}{% endif %}">
                    <div class="text-danger">{{ errors.title.as_text }}</div>
                </div>
                <div class="form-group">
                    <label for="content">Съдържание</label>
                    <textarea required="required" name="content" class="form-control showdown-input" id="content" placeholder="Съдържание">{% if request.POST.content %}{{ request.POST.content }}{% else %}{{ challenge.content }}{% endif %}</textarea>
                    <div class="text-danger">{{ errors.content.as_text }}</div>
                </div>
                <div class="form-group d-inline-block">
                    <label for="deadline">Краен срок</label>
                    <input type="datetime-local" required="required" name="deadline" class="form-control" id="deadline" value="{% if request.POST.deadline %}{{ request.POST.deadline }}{% else %}{{ challenge.parsable_deadline }}{% endif %}">
                    <div class="text-danger">{{ errors.deadline.as_text }}</div>
                </div>
                <br/>
                <div class="form-group d-inline-block">
                    <label for="points">Точки</label>
                    <input type="number" required="required" name="points" class="form-control" id="points" value="{% if request.POST.points %}{{ request.POST.points }}{% else %}{{ challenge.points }}{% endif %}">
                    <div class="text-danger">{{ errors.points.as_text }}</div>
                </div>
                <div class="form-group">
                    <label for="sanity_test">Sanity тест</label>
                    <textarea name="sanity_test" required="required" class="form-control" id="sanity_test" placeholder="Sanity тест">{% if request.POST.sanity_test %}{{ request.POST.sanity_test }}{% else %}{{ challenge.sanity_test }}{% endif %}</textarea>
                    <div class="text-danger">{{ errors.sanity_test.as_text }}</div>
                </div>
                <div class="form-group">
                    <label for="full_test">Оценяващ тест</label>
                    <textarea name="full_test" class="form-control" id="full_test" placeholder="Оценяващ тест">{% if request.POST.full_test %}{{ request.POST.full_test }}{% else %}{{ challenge.full_test }}{% endif %}</textarea>
                    <div class="text-danger">{{ errors.full_test.as_text }}</div>
                </div>
                <fieldset class="form-group border my-3 p-3">
                    <legend>Допълнителен модул</legend>
                    <div class="form-group">
                        <label for="custom_module_name">Име</label>
                        <input type="text" name="custom_module_name" class="form-control" id="custom_module_name" placeholder="Име" value="{% if request.POST.custom_module_name %}{{ request.POST.custom_module_name }}{% else %}{{ challenge.custom_module_name|default_if_none:'' }}{% endif %}"></input>
                        <div class="text-danger">{{ errors.custom_module_name.as_text }}</div>
                    </div>
                    <div class="form-group">
                        <label for="custom_module_content">Съдържание</label>
                        <textarea name="custom_module_content" class="form-control" id="custom_module_content" placeholder="Съдържание">{% if request.POST.custom_module_content %}{{ request.POST.custom_module_content }}{% else %}{{ challenge.custom_module_content|default_if_none:'' }}{% endif %}</textarea>
                        <div class="text-danger">{{ errors.custom_module_content.as_text }}</div>
                    </div>
                </fieldset>
                <div class="form-group my-2">
                    <input class="form-check-input" name="hidden" type="checkbox" {% if request.method == 'GET' and challenge.hidden %}checked="checked"{% endif %} {% if request.method == 'POST' and request.POST.hidden %}checked="checked"{% endif %} id="hidden">
                    <label for="hidden">Скритo</label>
                </div>
                <div class="form-group my-2">
                    <input class="form-check-input" name="verified" type="checkbox" {% if request.method == 'GET' and challenge.verified %}checked="checked"{% endif %} {% if request.method == 'POST' and request.POST.verified %}checked="checked"{% endif %} id="verified">
                    <label for="verified">Проверено</label>
                </div>
                {% if info %}
                    <div class="text-info"><i class="bi bi-check-circle-fill"></i> {{ info }}</div>
                {% endif %}
                <button type="submit" name="edit" class="btn btn-primary mt-2 mx-1">Редактирай</button>
                <button class="btn btn-secondary mt-2 mx-1 showdown-preview" data-showdown-source="content"><i class="bi bi-eye-fill"></i> Преглед</button>
            </form>
        </div>
    </div>

{% endblock %}