{% extends "backbone/base.html" %}
{% load static %}
{% load extras %}


{% block location %}
    <h6 class="location-info"><i class="bi bi-globe"></i> <a href="/homeworks">Домашни</a> > <a href="/homework/{{ homework.pk }}">{{ homework.title }}</a></h6>
{% endblock %}

{% block body %}

    {% if request.user.is_teacher %}
        <a href="/homework/{{ homework.pk }}/get_slackers" target="_blank" class="text-reset text-decoration-none">
            <button type="button" class="mobile-expand d-md-inline-block btn btn-primary m-1">
                <i class="bi bi-radioactive"></i> Виж преписвачите
            </button>
        </a>
        {% if homework.executing_tests %}
            <button type="button" class="mobile-expand btn btn-primary m-1" disabled="disabled">
                <i class="bi bi-filetype-py"></i> В момента се изпълняват тестове
            </button>
        {% else %}
            <a href="/homework/{{ homework.pk }}/run_tests?goto={{ request.path }}" class="text-reset text-decoration-none">
                <button type="button" class="mobile-expand d-md-inline-block btn btn-primary m-1">
                    <i class="bi bi-filetype-py"></i> Пусни тестовете
                </button>
            </a>
        {% endif %}
        <a href="/homework/{{ homework.pk }}/edit" class="text-reset text-decoration-none">
            <button type="button" class="mobile-expand btn btn-primary m-1">
                <i class="bi bi-pencil-square"></i> Редактирай
            </button>
        </a>
        <a href="/homework/{{ homework.pk }}/delete" class="text-reset text-decoration-none confirm-delete-homework">
            <button type="button" class="mobile-expand btn btn-danger m-1">
                <i class="bi bi-x-circle-fill"></i> Изтрий
            </button>
        </a>
        <hr class="mt-2 mb-1"/>
        {% include 'common/delete_modal.html' with content='Сигурен ли си, че искаш да изтриеш това домашно?' id='confirm_delete_homework_modal' %}
    {% endif %}


    {% if request.user.is_teacher and not homework.verified or request.user.is_student and homework.can_upload %}
        <a href="/homework/{{ homework.pk }}/solution/add" class="text-reset text-decoration-none">
            <button type="button" class="mobile-expand btn btn-primary m-1">
                <i class="bi bi-file-arrow-up-fill"></i> Качи решение
            </button>
        </a>
    {% endif %}
    {% with homework|homework_solution_from:request.user as user_solution %}
        {% if user_solution %}
            <a href="/homework/{{ homework.pk }}/solution/{{ user_solution.pk }}" class="text-reset text-decoration-none">
                <button type="button" class="mobile-expand btn btn-primary m-1">
                    <i class="bi bi-file-code-fill"></i> Виж своето решение
                </button>
            </a>
        {% endif %}
    {% endwith %}

    {% if request.user.is_teacher or homework.verified and not homework.hidden %}
        <a href="/homework/{{ homework.pk }}/solutions" class="text-reset text-decoration-none">
            <button type="button" class="mobile-expand btn btn-primary m-1">
                <i class="bi bi-file-code-fill"></i> Виж всички решения
            </button>
        </a>
    {% endif %}
    <hr class="mt-2 mb-1"/>

    <div class="card mt-2">
        <div class="card-header">
            <h5 class="card-title">{{ homework.title }}</h5>
        </div>
        <div class="card-body">
            <div class="card-text">
                <i class="bi bi-flag-fill text-primary"></i> Краен срок: {{ homework.human_deadline }}
            </div>
            <div class="card-text">
                <i class="bi bi-check-circle-fill text-primary"></i> Точки: {{ homework.points }}
            </div>
            <hr/>
            <div class="card-text">
                <div class="showdown-trigger">{{ homework.content }}</div>
            </div>
        </div>
    </div>


    <div class="card mt-2">
        <div class="card-header">
            <h6 class="card-title">Дискусия</h6>
        </div>
        <div class="card-body">

            <table class="table table-hover">
                <tbody>
                    {% if request.user.is_authenticated %}
                    <tr>
                        <td>
                            <form method="post" action="/homework/{{ homework.pk }}/comment/add">
                                {% csrf_token %}
                                <textarea required="required" name="content" class="form-control showdown-input showdown-input-small" id="content" placeholder="Отговор"></textarea>
                                <button type="submit" class="btn btn-primary mt-2 mx-1">Отговори</button>
                                <button class="btn btn-secondary mt-2 mx-1 showdown-preview" data-showdown-source="content"><i class="bi bi-eye-fill"></i> Преглед</button>
                            </form>
                        </td>
                    </tr>
                    {% endif %}


                    {% for comment in comments %}
                        <tr><td id="comment{{ comment.pk }}" class="ajax-toggle-container">
                            {% include 'common/user_dated_card.html' with user=comment.author date=comment.human_date add_star=comment.starred %}
                            <br/>
                            <div class="showdown-trigger">{{ comment.content }}</div>
                            {% if request.user.is_teacher %}
                                <span class="ajax-toggle">
                                    <a href="/homework/{{ homework.pk }}/comment/{{ comment.pk }}/star/add?page={{ request.GET.page }}" class="ajax-toggle-trigger {% if not comment.starred %}active{% endif %}">Добави звезда</a>
                                    <a href="/homework/{{ homework.pk }}/comment/{{ comment.pk }}/star/remove?page={{ request.GET.page }}" class="ajax-toggle-trigger {% if comment.starred %}active{% endif %}">Махни звездата</a>
                                </span>
                            {% endif %}
                            {% if request.user.is_teacher or request.user.id == comment.author.id %}
                                <a href="/homework/{{ homework.pk }}/comment/{{ comment.pk }}/edit?page={{ request.GET.page }}">Редактирай</a>
                            {% endif %}
                        </td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% if comments.paginator.num_pages > 1 %}
        <nav class="mt-2">
            <ul class="pagination justify-content-center">
                {% for page in comments.paginator.page_range %}
                    <li class="page-item"><a class="page-link {% if page == comments.number %}active{% endif %}" href="?page={{ page }}">{{ page }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    {% endif %}

    <hr class="mt-2 mb-1"/>
    <a href="/homeworks" class="text-reset text-decoration-none">
        <button type="button" class="btn btn-primary">
            <i class="bi bi-arrow-left-circle-fill"></i> Обратно към всички домашни
        </button>
    </a>

{% endblock %}
