{% extends "backbone/base.html" %}
{% block body %}
    <h6 class="location-info"><i class="bi bi-globe"></i> <a href="/students">Студенти</a></h6>
    {% if students %}
        {% for student in students %}
            <div class="card d-inline-block m-1 student-card">
                <a href="/student/{{ student.id }}">
                    {% if student.image %}
                        <img src="static/{{ student.image }}" class="card-img-top"/>
                    {% else %}
                        <img src="static/img/blank-profile.png" class="card-img-top"/>
                    {% endif %}
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a href="/student/{{ student.id }}">{{ student.full_name }}</a></h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-truncate">
                        <i class="bi bi-envelope-at-fill"></i>
                        <a href="mailto:{{ student.email }}">{{ student.email }}</a>
                    </li>
                    <li class="list-group-item text-truncate">
                        {% if student.github != "" %}
                            <i class="bi bi-github"></i>
                            <a href="https://github.com/" target="_blank">{{ student.github }}</a>
                        {% else %}
                            <i class="bi bi-github"></i> Няма
                        {% endif %}
                    </li>
                </ul>
            </div>
        {% endfor %}
    {% else %}
        Все още няма регистрирани студенти.
    {% endif %}
{% endblock %}