{% extends "backbone/base.html" %}
{% load static %}
{% load extras %}

{% block location %}
    <h6 class="location-info"><i class="bi bi-globe"></i> <a href="/challenges">Предизвикателства</a> > <a href="/challenge/{{ challenge.pk }}">{{ challenge.title }}</a> > <a href="/challenge/{{ challenge.pk }}/solutions">Решения</a></h6>
{% endblock %}

{% block body %}

    {% if request.user.is_teacher %}
        {% if challenge.executing_tests %}
            <button type="button" class="btn btn-primary m-1" disabled="disabled">
                <i class="bi bi-filetype-py"></i> В момента се изпълняват тестове
            </button>
        {% else %}
            <a href="/challenge/{{ challenge.pk }}/run_tests?goto={{ request.path }}" class="text-reset text-decoration-none">
                <button type="button" class="btn btn-primary m-1">
                    <i class="bi bi-filetype-py"></i> Пусни тестовете
                </button>
            </a>
        {% endif %}
        <hr class="mt-2 mb-1"/>
    {% endif %}


    <div class="card mt-2">
        <div class="card-header">
            <h5 class="card-title">{{ challenge.title }}</h5>
        </div>
        <div class="card-header">
            <h7 class="card-title">Решения ({{ solutions|length }})</h7>
        </div>
        <div class="card-header">
            <div class="form-check form-switch text-primary">
                <input class="form-check-input form-check-trigger-link" type="checkbox" role="switch" id="filter_subscribed" {% if 'filter_subscribed' in request.GET %} checked="checked" {% endif %}>
                <label class="form-check-label" for="filter_subscribed">
                    <a class="text-reset text-decoration-none" href="/challenge/{{ challenge.pk }}/solutions{{ request.GET|calculate_filter:'filter_subscribed' }}"><i class="bi bi-funnel-fill"></i> Скрий решенията, за които съм абониран</a>
                </label>
            </div>
            <div class="form-check form-switch text-primary">
                <input class="form-check-input form-check-trigger-link" type="checkbox" role="switch" id="filter_no_subscribers" {% if 'filter_no_subscribers' in request.GET %} checked="checked" {% endif %}>
                <label class="form-check-label" for="filter_no_subscribers">
                    <a class="text-reset text-decoration-none" href="/challenge/{{ challenge.pk }}/solutions{{ request.GET|calculate_filter:'filter_no_subscribers' }}"><i class="bi bi-funnel-fill"></i> Скрий решенията без абонамент</a>
                </label>
            </div>
            <div class="form-check form-switch text-primary">
                <input class="form-check-input form-check-trigger-link" type="checkbox" role="switch" id="filter_foreign_subscribers_only" {% if 'filter_foreign_subscribers_only' in request.GET %} checked="checked" {% endif %}>
                <label class="form-check-label" for="filter_foreign_subscribers_only">
                    <a class="text-reset text-decoration-none" href="/challenge/{{ challenge.pk }}/solutions{{ request.GET|calculate_filter:'filter_foreign_subscribers_only' }}"><i class="bi bi-funnel-fill"></i> Скрий решенията само с чужд абонамент</a>
                </label>
            </div>
        </div>
        <div class="card-body">
            {% if solutions %}
                <div class="overflow-auto">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Име</th>
                                {% if request.user.is_teacher %}
                                    <th scope="col">Абонаменти</th>
                                {% endif %}
                                <th scope="col">Точки</th>
                                <th scope="col">Информация</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for solution in solutions %}
                                <tr>
                                    <th scope="row">
                                        <a href="/challenge/{{ challenge.pk }}/solution/{{ solution.pk }}">
                                            {{ solution.author.full_name }}
                                        </a>
                                    </th>
                                    {% if request.user.is_teacher %}
                                        <td scope="col">
                                            {% if solution.subscribers.all %}
                                                {% for teacher in solution.subscribers.all %}
                                                    <a href="/teacher/{{ teacher.pk }}" target="_blank" class="text-decoration-none">
                                                        <img src="{% include 'common/profile_picture' with user=teacher %}" class="subscribers-profile-picture" data-toggle="tooltip" title="{{ teacher.full_name }}" />
                                                    </a>
                                                {% endfor %}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                    <td>
                                        <span data-toggle="tooltip" title="{{ solution.points|add:solution.challengesolutionteacherpoints.points }}/{{ solution.challenge.points }} точки">
                                            {% if solution.result != '' %}
                                                {% if solution.points|add:solution.challengesolutionteacherpoints.points > 0 %}
                                                    {% if solution.challengesolutionteacherpoints.points < 0 %}
                                                        {% for i in solution.points|add:solution.challengesolutionteacherpoints.points|times %}
                                                            <i class="bi bi-emoji-smile-fill yellow"></i>
                                                        {% endfor %}
                                                        {% for i in solution.challengesolutionteacherpoints.points|abs|times %}
                                                            <i class="bi bi-emoji-smile-fill red"></i>
                                                        {% endfor %}
                                                    {% else %}
                                                        {% for i in solution.points|times %}
                                                            <i class="bi bi-emoji-smile-fill yellow"></i>
                                                        {% endfor %}
                                                        {% for i in solution.challengesolutionteacherpoints.points|times %}
                                                            <i class="bi bi-star-fill yellow"></i>
                                                        {% endfor %}
                                                    {% endif %}
                                                {% else %}
                                                    -
                                                {% endif %}
                                            {% else %}
                                                Все още не са пуснати тестове
                                            {% endif %}
                                        </span>
                                    </td>
                                    <td>
                                        <span data-toggle="tooltip" title="Успешни тестове">
                                            <i class="bi bi-flag-fill green"></i> {{ solution.passed_tests }}
                                        </span>
                                        <span data-toggle="tooltip" title="Неуспешни тестове">
                                            <i class="bi bi-flag-fill red"></i> {{ solution.failed_tests }}
                                        </span>
                                        <span data-toggle="tooltip" title="Брой редове в кода">
                                            <i class="bi bi-file-text-fill"></i> {{ solution.line_count }}
                                        </span>
                                        <span data-toggle="tooltip" title="Брой коментари по решението">
                                            <i class="bi bi-chat-left-dots-fill"></i> {{ solution.comments|length|add:solution.inline_comments_count }}
                                        </span>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                Все още няма предадени решения.
            {% endif %}
        </div>
    </div>

    <hr class="mt-2 mb-1"/>
    <a href="/challenge/{{ challenge.pk }}" class="text-reset text-decoration-none">
        <button type="button" class="btn btn-primary">
            <i class="bi bi-arrow-left-circle-fill"></i> Обратно към предизвикателството
        </button>
    </a>

{% endblock %}