{% if news %}
    {% for article in news %}
        <div class="card mt-2">
            <div class="card-header">
                <span class="fs-6 fw-lighter">{{ article.human_date }}</span>
                <h5 class="card-title"><a href="news/{{ article.id }}">{{ article.title }}</a></h5>
            </div>
            {% if not no_content %}
                <div class="card-body">
                    <div class="card-text showdown-trigger">{{ article.content }}</div>
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% else %}
    Все още няма никакви новини.
{% endif %}