{% extends "backbone/base.html" %}
{% block location %}
    <h6 class="location-info"><i class="bi bi-globe"></i> <a href="/lectures">Лекции</a> > <a href="/lecture/{{ lecture.pk }}">{{ lecture.title }}</a></h6>
{% endblock %}
{% block body %}
    <div class="card mt-2 d-inline-block">
        <div class="card-header">
            <h5 class="card-title">Редактирай лекция</h5>
        </div>
        <div class="card-body">
            <form method="post" action="/lecture/{{ lecture.id }}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="first_name">Име</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Име" value="{% if request.POST.title %}{{ request.POST.title }}{% else %}{{ lecture.title }}{% endif %}">
                    <div class="text-danger">{{ errors.title.as_text }}</div>
                </div>
                <div class="form-group">
                    <label for="image">Файл</label>
                    <input type="file" name="content" class="form-control" id="content" accept=".pdf"/>
                    <div class="text-danger">{{ errors.content.as_text }}</div>
                </div>
                <div class="form-group">
                    <label for="date">Дата</label>
                    <input type="date" class="form-control" id="date" name="date" value="{% if request.POST.date %}{{ request.POST.date }}{% else %}{{ lecture.parsable_date }}{% endif %}">
                    <div class="text-danger">{{ errors.date.as_text }}</div>
                </div>
                
                {% if info %}
                    <div class="text-info"><i class="bi bi-check-circle-fill"></i> {{ info }}</div>
                {% endif %}

                <button type="submit" name="edit" class="btn btn-primary mt-2 mx-1">Запази</button>

                <button type="submit" name="delete" class="btn btn-danger mt-2 mx-1 confirm-delete-lecture">Изтрий</button>

                {% include 'common/delete_modal.html' with content='Сигурен ли си, че искаш да изтриеш тази лекция?' id='confirm_delete_lecture_modal' %}

            </form>
        </div>
    </div>
{% endblock %}