{% load sass_tags %}
{% load static %}
<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap-icons.css' %}">

    <link href="{% sass_src  'scss/default_theme.scss' %}" rel="stylesheet" type="text/css">

    {% block css %}
        {# Add custom content when extending this template #}
    {% endblock %}

    {% block javascript %}
        {# Add custom content when extending this template #}
    {% endblock %}

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <link href="{% static 'img/python_logo.png' %}" rel="icon" type="image/png">

    {% block title %}
        <title>Python@ФМИ</title>
    {% endblock %}
  </head>
  <body class="d-flex flex-column min-vh-100">
    {% block navbar %}
        {% include "backbone/navbar.html" %}
    {% endblock %}

    <div class="container-fluid">
      {% block body %}
          {# Add custom content when extending this template #}
      {% endblock %}
    </div>
    <footer class="mt-auto text-center fs-6 text fw-lighter">Някои права запазени</footer>
  </body>
</html>
