{% load static %}

{% url 'web:home' as home_url %}
{% url 'web:news' as news_url %}
{% url 'web:materials' as materials_url %}
{% url 'web:students' as students_url %}
{% url 'web:teachers' as teachers_url %}

<nav class="navbar navbar-expand-lg">
<div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="{% static 'img/python_logo.png' %}" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link {% if request.path == home_url %}active{% endif %}" href="{{ home_url }}">Начало</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == news_url %}active{% endif %}" href="{{ news_url }}">Новини</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == materials_url %}active{% endif %}" href="{{ materials_url }}">Материали</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == students_url %}active{% endif %}" href="{{ students_url }}">Студенти</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == teachers_url %}active{% endif %}" href="{{ teachers_url }}">Учители</a>
            </li>
            
            {% if not request.user.is_authenticated %}
                <li class="nav-item navbar-separator">
                    <a class="nav-link" href="/register">Регистрация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signin">Вход</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
</nav>