{% extends "backbone/base.html" %}
{% load static %}


{% block location %}
    <h6 class="location-info"><i class="bi bi-globe"></i> <a href="/materials">Материали</a></h6>
{% endblock %}

{% block body %}
    

    {% if request.user.is_teacher %}
        <button type="button" class="btn btn-primary">
            <a href="/lectures" class="text-reset text-decoration-none"><i class="bi bi-pencil-square"></i> Редактирай материалите</a>
        </button>
        <hr class="mt-2 mb-1"/>
    {% endif %}

    {% if materials %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Лекция</th>
                    <th scope="col">Дата</th>
                </tr>
            </thead>
            <tbody>
                {% for material in materials %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>
                        <a href="static/{{ material.content }}" target="_blank">
                            {{ material.title }}
                        </a>
                    </td>
                    <td>{{ material.date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        Все още няма никакви материали.
    {% endif %}
{% endblock %}