{% extends "backbone/base.html" %}
{% block body %}
    {% if students %}
        
        {% for student in students %}
            <div class="card d-inline-block m-1" style="width: 18rem;">
                <img src="static/{{ student.image }}" class="card-img-top"/>
                <div class="card-body">
                    <h5 class="card-title">{{ student.full_name }}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-truncate">Поща: <a href="mailto:{{ student.email }}">{{ student.email }}</a></li>
                    <li class="list-group-item text-truncate">
                        {% if student.github != "" %}
                            GitHub: <a href="https://github.com/" target="_blank">{{ student.github }}</a>
                        {% else %}
                            GitHub: -
                        {% endif %}
                    </li>
                </ul>
            </div>
        {% endfor %}
    {% else %}
        Все още няма регистрирани потребители.
    {% endif %}
{% endblock %}