{% load static %}

{% url 'home' as home_url %}
{% url 'news:news' as news_url %}
{% url 'materials:materials' as materials_url %}
{% url 'users:students' as students_url %}
{% url 'users:teachers' as teachers_url %}
{% url 'users:participants' as participants_url %}
{% url 'users:settings' as settings_url %}
{% url 'users:team' as team_url %}
{% url 'materials:lectures' as lectures_url %}
{% url 'forum:forums' as forums_url %}

<nav class="navbar navbar-expand-lg">
<div class="container-fluid">
    <a class="navbar-brand" href="/">
        <div class="navbar-brand-wrapper">
            {% if request.user.is_authenticated %}
                <img src="{% include 'common/profile_picture' with user=request.user %}" class="navbar-profile-picture" title="{{ request.user.first_name }} @ ФМИ"/>
                <img src="{% static 'img/python_logo.png' %}"  class="navbar-logo" title="{{ request.user.first_name }} @ ФМИ"/>
            {% else %}
                <img src="{% static 'img/python_logo.png' %}" title="Python @ ФМИ" />
            {% endif %}
        </div>  
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link {% if request.path == home_url %}active{% endif %}" href="{{ home_url }}"><i class="bi bi-house-fill text-primary"></i> Начало</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == news_url %}active{% endif %}" href="{{ news_url }}"><i class="bi bi-newspaper text-primary"></i> Новини</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == materials_url %}active{% endif %}" href="{{ materials_url }}"><i class="bi bi-book-fill text-primary"></i> Материали</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == forums_url %}active{% endif %}" href="{{ forums_url }}"><i class="bi bi-chat-right-text-fill text-primary"></i> Форум</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == students_url %}active{% endif %}" href="{{ students_url }}"><i class="bi bi-person-fill text-primary"></i> Студенти</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == teachers_url %}active{% endif %}" href="{{ teachers_url }}"><i class="bi bi-mortarboard-fill text-primary"></i> Учители</a>
            </li>
            {% if request.user.is_teacher %}
                <li class="nav-item dropdown navbar-separator">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                        <i class="bi bi-person-fill-lock text-primary"></i> Администрация
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ participants_url }}"><i class="bi bi-card-checklist text-primary"></i> Записани студенти</a>
                        <a class="dropdown-item" href="{{ team_url }}"><i class="bi bi-people-fill text-primary"></i> Учителски колектив</a>
                        <a class="dropdown-item" href="{{ lectures_url }}"><i class="bi bi-file-pdf-fill text-primary"></i> Лекции</a>
                        <a class="dropdown-item" href="/news/add"><i class="bi bi-newspaper text-primary"></i> Създай новина</a>
                        <a class="dropdown-item" href="/forum/add"><i class="bi bi-chat-right-text-fill text-primary"></i> Създай форум тема</a>
                    </div>
                </li>
            {% endif %}
            {% if not request.user.is_authenticated %}
                <li class="nav-item navbar-separator">
                    <a class="nav-link" href="/register"><i class="bi bi-journal-arrow-up text-primary"></i> Регистрация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login"><i class="bi bi-door-closed text-primary"></i> Вход</a>
                </li>
            {% else %}
                <li class="nav-item navbar-separator">
                    <a class="nav-link" href="{{ settings_url }}"><i class="bi bi-gear text-primary"></i> Настройки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout"><i class="bi bi-door-open text-primary"></i> Изход</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
</nav>